.th-beauty-contact{
    margin-bottom: 10em;
}

.th-beauty-contact .contact-item{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.th-beauty-contact .contact-item .contact-item-icon{
    margin: auto auto 1.5rem;
    width: 55px;
    height: 55px;
    padding: 16px 0;
    border: 2px solid #f55926;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.th-beauty-contact .contact-item .contact-item-icon i{
    font-size: 20px;
    color: pink;
}

.th-beauty-contact .contact-item .contact-item-title{
    word-wrap: normal;
font-weight: 700;
max-width: 100%;
font-size: 20px;
}

.th-beauty-contact .contact-address{
    margin-top: 4em;
}

.th-beauty-contact .contact-form .contact-form-left input{
    width : 100%
}

.th-beauty-contact .contact-form .contact-form-left input{
    width : 100%
}

.th-beauty-contact .contact-form .contact-form-left p{
    margin-bottom: 0 !important;
}

.th-beauty-contact .contact-form .wpcf7-textarea{
    width: 100%;
    height: 100%;
}

.th-beauty-contact .contact-form .your-email input{
    margin-bottom: 0 !important;
}

.th-beauty-contact .contact-form{
    position: relative;
z-index: 2;
padding: 2rem;
margin: -13rem .5rem 0;
background-color: #fff;
box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

.th-beauty-contact .contact-form .wpcf7-submit {
    color: #fff;
background-color: #ee2d7a;
border-color: #ee2d7a;
padding-left: 1rem;
padding-right: 1rem;
border-radius: 1.5rem;
min-width: 160px;
}