.th-footer{
    background-color: #fafafa;
}

.th-footer footer{
    background-color: #fafafa !important;
}

.th-footer .footer-top-inner{
    background-color: #fafafa !important;
}

.th-footer .footer-bottom-inner{
    background-color: #fafafa !important;
}

.th-footer .footer-social-links{
    margin-top : -1.5em
}


.th-footer .footer-social-links .social-link{
    display: flex;
    align-items: center;
    justify-content : center;
width: 48px;
height: 48px;
color: #fff;
border-radius: 50%;
text-align: center;
text-decoration: none;
}

.th-footer .footer-social-links .social-link:not(:first-child) {
    margin-left: .5rem;
}

.th-footer .footer-social-links .social-link.facebook{
    background-color: #1877f2;
}

.th-footer .footer-social-links .social-link.tiktok{
    background-color: #000;
}

.th-footer .footer-social-links .social-link.instagram {
    background-color: #e84393;
}

.th-footer .footer-social-links .social-link.twitter {
    background-color: #1da1f2;
}

.th-footer .footer-social-links .social-link.youtube {
    background-color: #f00;
}

.th-footer .widget-title {
    color: #f55b29;
    text-transform : uppercase;
    margin-top: -57px;
}

.th-footer .footer-link  a{
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: #999 !important;
    padding: .5rem 1rem;
    display : block;
    text-decoration: none;
}

.th-footer #cb-row--footer-bottom{
    margin-top : 20px;
}

.th-footer #cb-row--footer-bottom .nv-footer-content{
    flex-direction : column;
}

.th-footer #cb-row--footer-bottom .nv-footer-content .hfg-item-first{
    align-self: flex-start;
max-width: 100% !important;
}

.th-footer #cb-row--footer-bottom .nv-footer-content .hfg-item-last{
    text-align : center;
    margin: 20px 0px 40px 0px;
}

.footer-feature-wrapper {
    position: relative;
    margin-top: -3.5rem;
}

.footer-feature-wrapper .footer-features {
    padding: 1.5rem 1rem;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.05);
}

.footer-feature-wrapper .footer-feature-icon {
    padding:17px;
    background-color: rgba(245,91,41,.25);
    border-radius: 50%;
    margin-right: .75rem;
}

.footer-feature-wrapper .footer-feature-info {
    width: calc(100% - 55px - .75rem);
}

.footer-feature-wrapper .footer-feature-info p{
    font-size: .875rem;
margin-bottom: 0;
color: #999;
}
