p, span, strong, div h1, h2, h3, h4, h5, h6 {
  font-family: Inter !important;
  margin: 0 !important;
  padding: 0 !important;
  word-break: break-word;
}

.woocommerce div.product .woocommerce-product-rating strong, .woocommerce div.product .woocommerce-product-rating span {
  font-family: star !important;
  padding: 1.5em 0 0 0 !important;
}

.woocommerce .star-rating span, .woocommerce .star-rating strong {
  font-family: star !important;
  padding: 1.5em 0 0 0 !important;
}

a:hover {
  text-decoration: none !important;
}

@font-face {
  font-family: Wallow;
  src: url("../font/SVN-Wallows.otf");
  font-weight: normal;
}

@font-face {
  font-family: WallowO;
  src: url("../font/SVN-Wallows-Ornaments.otf");
  font-weight: normal;
}

.th-section-sub-title {
  font-family: Wallow !important;
  line-height: 2.5rem;
  color: #f55b29;
  z-index: 1;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.th-section-title {
  font-weight: 600;
  line-height: 3rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
}

.th-home-introduce {
  background-image: url("https://i.imgur.com/mvP48q7.jpg");
  background-size: cover;
  padding: 120px;
  margin-bottom: 10em;
  background-position: 50%;
}

@media only screen and (max-width: 600px) {
  .th-home-introduce {
    padding: 20px;
  }
}

.th-home-introduce-link {
  padding: 0.5rem 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  border: 1px solid #f55b29;
  border-radius: 50px;
  line-height: 1.5;
}

.th-home-introduce-link:hover {
  background-color: #f55b29;
  color: #fff !important
}

.th-breadcrumb {
  background-image: url("../img/background.jpg");
  padding: 40px 0;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4em;
}

.th-breadcrumb-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.html5gallery-elem-img-1 a {
  display: none !important
}

.home-slider .product-item-container {
  margin: 10px
}

.woocommerce-breadcrumb {
  display: none !important;
}

.shop-container {
  margin: 0 !important;
  padding: 0 !important;
}

.nv-index-posts {
  padding: 0 !important;
  max-width: 100% !important;
  margin: 0 !important;
}

.related .woocommerce-loop-product__title {
  display: inline-block !important;
  text-transform: uppercase !important;
  color: black !important;
  font-size: 1.5rem !important;
  line-height: 1.5rem !important;
  margin-bottom: .5rem !important;
  text-align: center !important;
  margin-top: 0.5em !important;
  width: 100%
}

.related .woocommerce-Price-amount {
  font-size: 1.25rem !important;
  font-weight: 500 !important;
  color: #f55b29 !important;
  text-align: center !important;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nv-page-title-wrap {
  display: none !important;
}

.nv-single-page-wrap {
  width: 100% !important;
  margin: 0 0 70px 0 !important;
  padding: 0 !important;
}

.woocommerce-billing-fields h3 {
  padding: 5px 0 0 5px !important
}

.nav-menu-primary li {
  color: #4a4a4a;
  position: relative;
  text-align: center;
  margin-right: 20px;
  font-weight: 300;
  line-height: 1rem;
}

.nav-menu-primary .current-menu-item a {
  color: #f55b29 !important
}

.nav-menu-secondary .nav-ul .current-menu-item a {
  color: #f55b29 !important;
}

.neve-breadcrumbs-wrapper {
  display: none !important;
}

.nv-meta-list {
  display: none !important
}

.main-playlist {
  max-width: 100% !important;
}

.playlist-container::after {
  display: none!important;
}

.rsNav.rsThumbs.rsThumbsVer {
  background: #fff;
}

.top-3-collection-item {
  text-align: center;
  margin-bottom: 4rem;
}

.sec-header {
  position: relative;
  margin-bottom: 1rem;
  text-align: center!important;
}

.sec-header-small {
  font-family: "Wallow", cursive !important;
  line-height: 2.5rem;
  color: #f55b29;
}

.sec-header .sec-header-small, .sec-header .sec-header-title {
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.top-3-collection-item .sec-header h2 {
  font-size: 1.5rem;
  line-height: 1.2;
}

.sec-header .sec-header-title a {
  color: inherit;
  text-decoration: none;
}

.top-3-collection-item-text {
  color: #999;
  margin-bottom: 1rem !important;
}

.top-3-collection-item-price{
  color: inherit;
  text-decoration: none;
}
@media only screen and (min-width: 576px) {
  .top-3-collection-item:nth-child(2n) .col-sm-6:first-child {
    order: 2;
  }
  
  .top-3-collection-item:nth-child(2n) .col-sm-6:nth-child(2) {
    order: 1;
  }
  .top-3-collection-item:nth-child(2n) .col-sm-7:first-child {
    order: 2;
  }
  
  .top-3-collection-item:nth-child(2n) .col-sm-5:nth-child(2) {
    order: 1;
  }
}


.btn-icon-right i {
  margin-right: 0;
  margin-left: 8px;
}
.top-3-collection-item .top-3-collection-item-img {
  display: block;
  height: 350px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}