.product-item-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(9, 30, 66, 0.15);
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
    height: calc( 100% - 10px);
}

.product-item-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-decoration: none;
    text-transform: uppercase;
}

.product-item-content:hover {
    text-decoration: none !important;
}

.product-item-price {
    font-size: 1rem;
    font-weight: 500;
    color: #f55b29 !important;
    text-align: center;
    word-break: break-word;
    flex-shrink: 0;
}

.product-item-title {
    flex:1;
    text-transform: uppercase;
    color: black !important;
    font-size: 1.3rem;
    margin-bottom: .5rem;
    text-align: center;
    margin-top: .5rem;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-item-body {
    height: 100%;
}

.product-btn {
    background-color: var(--orange);
    border: none;
    color: white;
    padding: 8px 0px;
    margin-top: 3%;
    text-align: center;
    text-decoration: none;
    width: 75%;
    display: inline-block;
    font-size: 1rem;
    border-radius: 1.5rem;
}

.product-btn:hover {
    color: white;
}

.woocommerce div.product .product_title {
    font-size: 1.5rem;
    text-transform: uppercase;
	font-weight: 700;
}

.woocommerce-product-details__short-description {
    margin-bottom: 0.5rem;
}

.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 0.5rem;
}

span.woocommerce-Price-amount.amount {
    font-size: 1.125rem;
    font-weight: 500;
    color: #f55b29;
}

.product-included-insurrance-policy {
	display: block;
    clear: both;
}

.product-included-insurrance-policy .text-warning {
    color: #f55b29!important;
    font-size: 1.5rem;
}

.product-included-insurrance-policy .card {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.product-included-insurrance-policy .card-body {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.product-included-insurrance-policy ol, .product-included-insurrance-policy ul {
    -webkit-padding-start: 17px;
    padding-inline-start: 17px;
}

.product-item-container .star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 5.4em;
    font-family: star
}

.product-item-container .star-rating::before {
    content: "\73\73\73\73\73";
    color: #d3ced2;
    float: left;
    top: 0;
    left: 0;
    position: absolute
}

.product-item-container .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em
}

.product-item-container .woocommerce-product-rating strong, .product-item-container .woocommerce-product-rating span {
    font-family: star !important;
    padding: 1.5em 0 0 0 !important;
}

.product-item-container .star-rating {
    color: #ffb100;
}

.product-item-container .star-rating span::before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0
}

.product-item-container .woocommerce-product-rating {
    line-height: 2;
    display: block
}

.product-item-container .woocommerce-product-rating::after,.woocommerce .woocommerce-product-rating::before {
    content: " ";
    display: table
}

.product-item-container .woocommerce-product-rating::after {
    clear: both
}

.product-item-container .woocommerce-product-rating .star-rating {
    margin: .5em 4px .5em 0;
    float: left;
}

.product-item-container .products .star-rating {
    display: block;
    margin: 0 0 .5em;
    float: none
}

.product-item-container .hreview-aggregate .star-rating {
    margin: 10px 0 0
}

.product-option-item .form-check input {
    display: none;
}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

.product-option-item .form-check input:checked + label {
    color: #f55b29;
    border-color: #f55b29;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.product-option-item .form-check {
    padding-left: 0;
    margin-bottom: .5rem;
}

.product-option-item .form-check label {
    padding: .25rem 1rem;
    font-family: "Barlow Semi Condensed",sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
	text-transform: uppercase;
    border: 1px solid #999;
        border-top-color: rgb(153, 153, 153);
        border-right-color: rgb(153, 153, 153);
        border-bottom-color: rgb(153, 153, 153);
        border-left-color: rgb(153, 153, 153);
    border-radius: 1.5rem;
    transition: all .2s ease-in-out;
}

.product-option-item .product-option-label {
    width: 128px;
    line-height: 1rem;
    margin: .5rem 0 0;
}

.product-option-item .product-options {
    width: calc(100% - 128px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-option-item {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-bottom: 1rem;
}

.woocommerce div.product form.cart button.button.alt.single_add_to_cart_button {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-left-color: transparent;
	padding: .375rem .75rem;
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	background-color: #f55b29 !important;
	border-color: #f55b29 !important;
	border-radius: 1.5rem !important;
}