.th-search{
    margin-bottom: 70px;
}

.th-search-title{
    display: block;
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    color: #f55b29;
    padding: 0 0 .5rem;
    margin-bottom: 1rem;
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.th-search-filter-item{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    cursor: pointer;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.th-search .product-item-container{
    padding: 0 0 20px 0;
    box-shadow: none;
}

.th-search .product-item-container .product-item-title{
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-bottom: .5rem;
    text-align: center;
    margin-top: 1em;
}

.th-search .product-item-container .product-item-price{
    font-size: 1rem;
    font-weight: 500;
    color: #f55b29 !important;
    text-align: center;
}

.th-search-pagination{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: baseline;
}

.th-search-pagination a, .th-search-pagination span{
    position: relative;
    display: block;
    padding: .5rem .75rem !important;
    margin-left: -1px;
    line-height: 1.25;
    color: #2f80ed;
    font-size: 18px;
    cursor: pointer;
}


.th-search-pagination span{
color: #f55b29;
}